
.ExploreGoogleContenier{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 100px auto;
    max-width: 1600px;
}

.bulty_by{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 100px;
}

.bulty_by_head{
    color: #202125;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
    
}

.Browse_with{
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #202125;
    font-family: "Google Sans",arial,sans-serif;
    font-weight: 400;
}

.googleTextcontenier{
    display: flex;
    flex-direction: column;
   
}

.googleTextcontenier:hover .bsArrowRight{
    transform: translate(3px, 0px);
}

#ExploreGoogleContenier2{
    display: flex;    
    flex-direction: row-reverse;
}


#ExploreGoogleContenier4{
    display: flex;    
    flex-direction: row-reverse;
}


.bsArrowRight{
    margin-bottom: -3px;
}
.googleText{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: #1967d2;
    
}

.ExploreGoog_icons{
    width: 40%;
    overflow: hidden;
  }

.iconImg{
    width: 100%;
}

#img_homepage4{
    width: 600px;
}



@media(max-width:1020px){
	
   .ExploreGoogleContenier{
       flex-direction: column;
   }

  

  #ExploreGoogleContenier2{
    display: flex;    
    flex-direction: column;
}


#ExploreGoogleContenier4{
    display: flex;    
    flex-direction:column;
}


   .bulty_by{
    width: 90%;
    margin:0% auto;
   
    }
   
    
    .ExploreGoog_icons{
        width: 90%;
        overflow: hidden;
        margin: 0% auto;
      }
  
    }
 
 
 
    @media(max-width:726px){
    
        .bulty_by{
            width: 95%;
            margin:0% auto;
           
            }
           
            
            .ExploreGoog_icons{
                width: 100%;
                overflow: hidden;
                height: 200px;
                margin: 0% auto;
              }
   
       }

